<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<style>
    body { background: #edf4f7; }
    button {background: #ed8713;}
    button:hover{background: #dcedf2;}
    table { width: 70%; border-collapse: collapse; background:#fafaf7}
    td, th { padding: 2px;
        border: 1px solid #333;}
    th { background: #0e71ab; }
    td {height: 10px;}
    .superbutton {background: #ed8713;}
    .superbutton:hover{background: #dcedf2;}
</style>
<td th:text="${error}"></td>
    <form th:action="@{/addresses/creat}" method="post" th:object="${newAddress}">
        <p><input th:value="${clientId}" type="hidden" name="clientid" id="clientId2"></p>
        <p><input th:field="*{ip}" type="text" placeholder= "255.255.255.255" name="ip" id="ip2"></p>
        <p><input th:field="*{mac}" type="text" placeholder= "1A-1B-2C-4E-8H-9" name="mac" id="mac2"></p>
        <p><input th:field="*{model}" type="text" name="model" id="model2"></p>
        <p><input th:field="*{address}" type="text" name="address" id="address2"></p>
    <p><input type="submit" class="superbutton" value="зарегистрироваться"></p></form>
    <div align="left">
      <table border="1">
        <thead>
    <tr>
      <th>IP</th>
      <th>MAC</th>
      <th>Модель</th>
      <th>Адрес</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="addresses:${addresses}">
      <form th:action="@{/addresses/update}"  method="post" th:object="${addressesDTO}">
        <input th:value="${addresses.getAddressid}"type="hidden"id="addressid" name="addressid">
        <input th:value="${addresses.getClientid}"type="hidden"id="clientid" name="clientid">
      <td><input th:value="${addresses.getIp}"type="text" id="ip" name="ip"></td>
      <td><input th:value="${addresses.getMac}" type="text" id="mac" name="mac"></td>
      <td><input th:value="${addresses.getModel}" type="text" id="model" name="model"></td>
      <td><input th:value="${addresses.getAddress}" type="text" id="address" name="address" ></td>
        <td><input type="submit" class="superbutton" value="обновить адрес">
      </form>
        <form th:action="@{/addresses/remove/{id}(id=${addresses.getAddressid != null} ? ${addresses.getAddressid }: 0)}">
            <input th:value="${clientId}" type="hidden" name="clientid1" id="clientid1">
            <input type="submit" class="superbutton" value="удалить адрес"></form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  <a th:href="@{/}">Все персоны</a>
</div>
</body>
</html>